/* default and common styles  */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.primary-color {
  color: #fd6e0a;
}

.btn-primary {
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 18px 35px;
}

/* nav bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72.5%;
  max-width: 1160px;
  margin: 0 220px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/* Header related styles */

#header {
  background: #fff8f3;
}

.banner {
  display: flex;
  padding: 60px 30px 0px 220px;
  align-items: center;
}

.banner #profile-pic {
  width: 584px;
  height: 676px;
}

.banner .banner-content {
}

.banner-greeting {
}

.banner-title {
}
